html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
  padding-left: 20px;
  padding-right: 20px;
}

.header {
  text-align: center;
}

.description {
  margin: 0 auto 40px;
  max-width: 450px;
}

p {
  font-size: 16px;
  line-height: 1.5;
  margin: 0 0 20px;
}

input,
select {
  border: 1px solid #ccc;
}

input:focus,
select:focus {
  border-color: #000;
}

label {
  font-size: 16px;
  font-weight: 700;
}

fieldset {
  border: 1px solid #ccc;
  padding: 20px;
}

button {
  cursor: pointer;
}

.icon-with-link {
  align-items: center;
  background: #eee;
  border-radius: 5px;
  border: 1px solid #ddd;
  color: #000;
  display: inline-flex;
  font-weight: 700;
  line-height: 1;
  padding: 5px;
  text-decoration: none;
}

.icon-with-link + .icon-with-link {
  margin-left: 10px;
}

.icon-with-link img {
  margin-right: 6px;
}
